[
    {
        "ref": "ubuntu:xenial",
        "registry": "docker.io",
        "private": false,
        "config": "jarvice-docker",
        "arch": {
            "amd64": "docker.io/library/ubuntu:xenial",
            "ppc64le": "docker.io/ppc64le/ubuntu:xenial"
        }
    },
    {
        "ref": "centos:latest",
        "registry": "docker.io",
        "private": false,
        "config": "jarvice-docker",
        "arch": {
            "amd64": "docker.io/library/centos:latest",
            "ppc64le": "docker.io/ppc64le/centos:latest"
        }
    },
    {
        "ref": "base-centos7-realvnc",
        "registry": "quay.io",
        "private": true,
        "config": "jarvice-docker",
        "arch": {
            "amd64": "quay.io/nimbix/base-centos7-realvnc:7.5"
        }
    }
]
