[
    {
        "Ref": "ubuntu:xenial",
        "amd64": "docker.io/library/ubuntu:xenial",
        "ppc64le": "docker.io/ppc64le/ubuntu:xenial"
    },
    {
        "Ref": "busybox:latest",
        "amd64": "docker.io/library/busybox:latest",
        "ppc64le": "docker.io/ppc64le/busybox:latest"
    },
    {
        "Ref": "centos:latest",
        "amd64": "docker.io/library/centos:latest",
        "ppc64le": "docker.io/ppc64le/centos:latest"
    },
    {
        "Ref": "kenhill/ubuntu-desktop:u250",
        "amd64": "docker.io/kenhill/ubuntu-desktop:u250"
    }
]
